*{
    margin: 0px;
    padding: 0px;

}

body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/img/img1.jpg); display: inline-block;
}


nav{
    width: 100%;
    height: 100px;
    display: flex;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: bold;
}

.nav.active{
    background: red;
    padding: 15px;
}

h1{
    color: darkgoldenrod;
    font-size: 45px;
    position: fixed;
    padding-top: 0px;
    left: 4%;
}

ul li{
    display: inline-block;
    padding: 20px 10px;
}

a{
    color: darkgoldenrod;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 0, 0);
    box-shadow: 0 1px 6px rgb(245, 245, 245);
}



header{
    align-items: first baseline; 
}

.m1{

position: fixed;
left: 65%;

}

.m2{
 
position: fixed;
left: 72%;

}

.m3{
 
position: fixed;
left: 80%;

}
.m4{
 
position: fixed;
left: 88%;

}
h3 {
    margin-top: 300px;
    color: white;
    margin-left: 90px;
}
p
{
    margin-left: 100px;
    color: darkgoldenrod;
    margin-right:200px;
    margin: 30px  30px 30px;
}
th {
    color:rgb(255, 255, 255);
    
}
td {
    color: aliceblue;
}
table {
    width: 75%;
    margin-left: 200px;
}
img {
    margin-top: 70px;
    width: 70%;
    margin-left: 250px;
}
tr {
    color: whitesmoke;
}

iframe {
    margin-left: 450px;
    margin-top: 180px;
}
footer {
    width: 134%;
    height: 340px;
    background-color:rgba(29,37,56,255);
    margin: 0px 0px;
}
.araña {
    width: 200px;
    height: 270px;
    margin: 0;
}
.equipo{
    text-align: center;
    font-size: 30px;
    color: brown;
    margin-left: 250px;
}
.equipo a:hover {
    color: #b41dfb;
}

.form-register{
    width: 200px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
  
}

.controls {
    width: 50%;
    background-color: blue;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 16px;
    border: 1px solid rgb(219, 31, 103);
    font-size: 18px;
    
}
#logo {
    width: 400px;
    height: 250px;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
}

